:root {
  /* Палитра для клиента (BabyBoom) */
  --client-primary: #74b9ff;    /* Нежно-голубой */
  --client-secondary: #fab1a0;  /* Пастельный розовый для акцентов */
  --client-bg: #fdfcfe;
  
  /* Палитра для админа (Система управления) */
  --admin-dark: #2d3436;        /* Строгий графитовый */
  --admin-accent: #00cec9;      /* Бирюзовый для кнопок управления */
  
  --text-main: #2d3436;
  --transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: var(--client-bg);
  color: var(--text-main);
}
.auth-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}